/* FONTS
-------------------------------------------------------------------------------*/
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light-webfont.svg#open_sanssemibold') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-LightItalic-webfont.eot');
    src: url('../fonts/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-LightItalic-webfont.svg#open_sansextrabold_italic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Italic-webfont.eot');
    src: url('../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Italic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Italic-webfont.svg#open_sansextrabold_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-SemiBold-webfont.eot');
    src: url('../fonts/OpenSans-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-SemiBold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-SemiBold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-SemiBold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-SemiBoldItalic-webfont.eot');
    src: url('../fonts/OpenSans-SemiBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-SemiBoldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-SemiBoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-SemiBoldItalic-webfont.svg#open_sansextrabold_italic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot');
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-BoldItalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../OpenSans-ExtraBold-webfont.eot');
    src: url('../OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('../OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('../OpenSans-ExtraBold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: url('../OpenSans-ExtraBoldItalic-webfont.eot');
    src: url('../OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
         url('../OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
         url('../OpenSans-ExtraBoldItalic-webfont.svg#open_sansextrabold_italic') format('svg');
    font-weight: 700;
    font-style: italic;

}

/* HTML FIXES
-------------------------------------------------------------------------------*/
html, body { 
	/*background-color: #e4e6e9;*/
	color: #fff;
	font-family: 'Open Sans', Arial, sans-serif; 
	font-size: 13px; 
	font-weight: normal;
	padding-bottom: 0;
	min-height: 100%;
	line-height: 1.5;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 { font-weight: bold; }
h1, h2, h3, h4, h5 { margin-top: 0; }
p { line-height: 20px; }

table h1, table h2, table h3, 
table h4, table h5, table h6 { margin-top: 0; }

.block:before, 
.block:after { display: table; line-height: 0; content: ""; clear: both; }

button { font-family: 'Open Sans', Arial, sans-serif; }

.hidden { display: none !important; }

.fluid-center { width: 80%; margin: 0 auto !important; }
.fixed-center { margin: 0 auto; width: 960px; }
.small-center { margin: 50px auto 0 !important; width: 50%; }

label { font-weight: bold; }

.text-center { text-align: center; }

/* HEAD
-------------------------------------------------------------------------------*/
nav { margin-bottom: 55px !important; }

nav .register-btn,
nav .logout-btn { color: #ffffff !important; }
nav .login-btn { color: gray !important; }

.logo a { 
    color: #ffffff; 
    display: block;
    font-family: 'Frijole', cursive; 
    font-size: 50px; 
    margin-top: 55px !important; 
    text-decoration: none;
    text-shadow: 2px 3px 1px #333; 
}

/* BODY
-------------------------------------------------------------------------------*/
body {
    background: rgb(44,83,158); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(44,83,158,1) 0%, rgba(44,83,158,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(44,83,158,1)), color-stop(100%,rgba(44,83,158,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#2c539e',GradientType=0 ); /* IE6-9 */
}

.login { width: 50%; margin: 50px auto 0; }
.login .divider { color: #ffffff !important; }

.profile { 
    border: 1px solid #999; 
    border-radius: 75px; 
    box-shadow: 1px 2px 3px #999; 
    height: 100px; 
    width: 100px; 
}

/* FOOT
-------------------------------------------------------------------------------*/
.footer { margin-top: 50px !important; }
